<nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow-sm">
  <div class="container-fluid">
    <button class="btn btn-glass-dark text-white d-block d-md-none" type="button" (click)="toggleNavbar()" #navbarToggler
            aria-controls="navbarCollapse" [attr.aria-expanded]="isNavbarOpen" aria-label="Toggle navigation">
      <span class="custom-toggler-icon" [ngClass]="{'open': isNavbarOpen}">
        <i [ngClass]="isNavbarOpen ? 'las la-times fs-2' : 'las la-bars fs-2'"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" #navbarCollapse>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="d-flex">
            <a class="nav-link text-light" href="javascript:void(0)" (click)="closeNavbar()">ENV: <span class="text-env">{{labelEnv}}</span></a>
            <a class="nav-link text-light" href="javascript:void(0)" (click)="switchEnv()"><i [class]="labelEnv == 'UAT' ? 'las la-toggle-off fs-3' : 'las la-toggle-on fs-3'"></i></a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light btn btn-glass-dark" href="javascript:void(0)" routerLink="/" (click)="closeNavbar()">Dashboard</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item profile-menu" ngbDropdown container="body" display="dynamic" placement="bottom-right">
            <a class="nav-link p-0 p-2 pt-3" tabindex="0" ngbDropdownToggle id="profile" role="button">
              <span class="avatar avatar-primary fs-5">Server Log</span>
            </a>
            <div class="dropdown-menu p-0" ngbDropdownMenu aria-labelledby="profile">
              <div class="card border-0 shadow-sm">
                <div class="card-body px-0 py-1">
                  <div class="list-group list-group-flush">
                      <a ngbDropdownItem role="button" class="d-flex align-items-center my-2" routerLinkActive="active" (click)="closeNavbar()">Settings</a>
                      <a ngbDropdownItem role="button" class="d-flex align-items-center" routerLinkActive="active" (click)="closeNavbar()">View Profile</a>
                      <span><hr class="dropdown-divider my-1" /></span>
                      <a ngbDropdownItem role="button" class="d-flex align-items-center" (click)="closeNavbar()">Logout</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="pb-2 mb-5"></div>