.editor-container {
  padding: 1rem;
  height: 90vh;               
  display: flex;
  flex-direction: column;
}

.editor-wrapper {
  flex: 1;                     
  border: 1px solid #ddd;     
  background: #f8f8f8;
  min-height: 300px;           
}

.script-editor {
  width: 100%;
  height: 100% !important;    
}