.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-template-rows: repeat(auto-fill, 150px);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    .card {
      text-align: center;
      &:hover {
        background-color: #f5f5f5;
      }
      &.selected {
        background-color: #eee;
      }
    }
  }
:host ::ng-deep .btn.dropdown-toggle::after {
  display: none;
}
  input:focus{
    box-shadow: none;
    outline: none;
    border-color: #ccc;
  }

  .context-menu {
    position: absolute;
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .context-menu ul {
    list-style: none;
    padding: 5px;
    margin: 0;
  }

  .context-menu li {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .context-menu li:hover {
    background: #eee;
  }

  .no-logs {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }